@import url(https://use.fontawesome.com/releases/v5.1.1/css/all.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;700;900&display=swap);

   * {
       margin: 0;
       padding: 0;
       list-style: none;
       
   }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Noto Sans TC',
    sans-serif,
    sans-serif;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    -moz-margin: 0 !important;
}

img {
    max-width: 100%;
    height: auto;
}

/* layout */
.wrap {
    max-width: 1140px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.skills {
    margin-top: 20px;
    margin-bottom: 40px;
}

.clearfix {
    clear: both;
}

/* header */
.banner {
    position: relative;
    background-image: url("https://hsiangfeng.github.io/Resume/img/img-headerShape.png");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    height: 322px;
}

.design {
    position: absolute;
    right: 65%;
    top: 15%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #000;
}

.design img {
    border-radius: 50%;
}

.designMore a {
    color: #fff;
    text-decoration: none;
}

.designMore {
    position: absolute;
    left: 50%;
    top: 15%;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
}

.designMore li h3 {
    margin-left: 20px;
    display: inline;
}

/* Skills */
.skills h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: #7F7BF2;
}

.skills h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}

.skills-list img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skills-ability {
    line-height: 27px;
    list-style: disc;
    padding-left: 22%;
}

.skills-list {
    float: left;
    width: 31.33333%;
    height: 300px;
    margin-right: 1%;
    margin-left: 1%;
    border: 1px solid #7F7BF2;
    box-shadow: 5px 5px 5px #7F7BF2;
}

.skills-list:hover {
    border: 2px solid #7F7BF2;
    box-shadow: 10px 10px 10px #7F7BF2;
}

.skills-list li {
    color: #4A4A4A;
}

.skills-footer-orange {
    border-bottom: 10px solid #F58D23;
    border-radius: 0 0 10px 10px;
}

.skills-footer-orange:hover {
    border-bottom: 10px solid #F58D23;
    border-radius: 0 0 10px 10px;
}

.skills-footer-green {
    border-bottom: 10px solid #539E43;
    border-radius: 0 0 10px 10px;
}

.skills-footer-green:hover {
    border-bottom: 10px solid #539E43;
    border-radius: 0 0 10px 10px;
}

.skills-footer-purple {
    border-bottom: 10px solid #6762A6;
    border-radius: 0 0 10px 10px;
}

.skills-footer-purple:hover {
    border-bottom: 10px solid #6762A6;
    border-radius: 0 0 10px 10px;
}

/* exp */
.exp h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: #7F7BF2;
}

.line {
    border-left: 2px dashed #000000;
    position: absolute;
    height: 100%;
    left: 50%;
    z-index: -1;
}

.exp-block {
    position: relative;
}

.exp-strat {
    position: relative;
    border-top: 3px solid gray;
    margin-right: auto;
    margin-left: auto;
    width: 55px;
    height: 100px;
}

.exp-end {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.exp img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.exp-list-left {
    width: 45%;
    float: left;
    padding: 1%;
    border: 3px solid #7F7BF2;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #7F7BF2;
}

.exp-list-left:hover {
    border: 4px solid #7F7BF2;
    box-shadow: 10px 10px 10px #7F7BF2;
}

.exp-list-right {
    width: 45%;
    float: right;
    padding: 1%;
    border: 3px solid #7F7BF2;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #7F7BF2;
}

.exp-list-right:hover {
    border: 4px solid #7F7BF2;
    box-shadow: 10px 10px 10px #7F7BF2;
}

/* Works */
.works {
    margin-top: 30px;
}

.works h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: #7F7BF2;
    float: left;
}

.works-list img {
    border-radius: 5px;
}

.works-list {
    float: left;
    width: 24%;
    height: 50%;
    border: 1px solid #7F7BF2;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #7F7BF2;
}

.works-list:hover {
    border: 2px solid #7F7BF2;
    box-shadow: 10px 10px 10px #7F7BF2;
}

.works-list h4 {
    color: #4A4A4A;
    font-size: 18px;
    font-weight: bold;
    margin: 2%;
}

.works-list p {
    color: #4A4A4A;
    font-size: 12px;
    margin: 20px 10px;
}

.btn-purple {
    width: 80px;
    height: 38px;
    color: #7F7BF2;
    border: 2px solid #7F7BF2;
    border-radius: 5px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-purple:hover {
    background-color: #7F7BF2;
    color: #fff;
}

/* about */
.about {
    margin-top: 30px;
    position: relative;
}

.about h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: #7F7BF2;
}

.summary {
    padding: 20px;
    height: 340px;
}

.summary img {
    position: absolute;
    left: 15%;
    float: left;
    width: 200px;
}

.summary p {
    float: right;
    width: 550px;
    padding: 10px;
}

/* footer */
footer {
    background-image: url("https://hsiangfeng.github.io/Resume/img/img-Looper-bg.png");
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .wrap {
        max-width: 1140px;
    }

    /* Web Skills */
    .works-list {
        width: 48%;
    }

    /* summary */
    .summary img {
        position: relative;
        left: 0;
        width: 30%
    }

    .summary p {
        width: 70%;
    }
}

@media (max-width: 992px) {
    .wrap {
        max-width: 960px;
    }

    /* Web Skills */
    .skills-list h3 {
        font-size: 20px;
    }

    .skills-ability {
        font-size: 14px;
        line-height: 39px;
    }
}

@media (max-width: 768px) {
    .wrap {
        max-width: 720px;
        padding: 0;
    }

    /* user */
    .designMore h3 {
        font-size: 16px;
    }

    /* Web Skills */
    .skills-list h3 {
        font-size: 16px;
    }

    .skills-ability {
        font-size: 14px;
        line-height: 39px;
    }
}

@media (max-width: 576px) {
    .wrap {
        max-width: 540px;
        padding: 0;
    }

    /* user */
    .design {
        right: 50%;
    }

    .designMore li .fas,
    .designMore li .far,
    .designMore li .fab {
        display: none;
    }

    /* skills*/
    .skills-list {
        width: 98%;
        margin-bottom: 2%;
    }

    .skills-list h3 {
        font-size: 30px;
    }

    .skills-ability {
        font-size: 16px;
        line-height: 39px;
    }

    /* work */
    .works-list {
        width: 96%;
        margin: 2%;
    }
}
