        
        *{
            margin: 0;
            padding: 0;
            list-style: none;
            font-family: 'Noto Sans TC', sans-serif,sans-serif;
        }
        
        .wrap{
            width: 100%;
            margin:auto;
            
        }

        .wrap h1{
           margin-top: 100px;
            text-align: center;
            font-size: 50px;
            width: 900;
            color: #000;
            
        }

        .wrap h2{
            text-align: center;
        }

        /* .wrap::after{
            content: '';
            display: block;
            top: 0;
            clear: both;
            width: 100%;
            height: 200px;
        } */

        .timeline{
            padding: 100px 0 200px;
       
        }
        .timeline::after{
        content: '';
        display: block;
        height: 0px;
        width: 100%;
        clear: both;
        }

        .timeline li{
            width: 50%;
            box-sizing: border-box;
            padding: 20px 0;
            position: relative;
            
        }

        .timeline li:nth-child(odd){
            float: left;
            padding-right: 100px;
        }

        .timeline li:nth-child(even){
            float: right;
            padding-left: 100px;
            transform: translateY(50%);
        }

     

        .timeline a{
            display: block;
            text-decoration: none;
            background-color: #fff;
            border: 5px solid #000;
            box-sizing: border-box;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 10px 3px 5px #888;
        }

        .timeline a:hover{
            background-color: #6fa5f6;
        }

        .timeline a:hover h2,
        .timeline a:hover p{
            color: #fff;
        }

          /* .timeline li::after{
           content: '';
           position: absolute;
           top: 0;
           width: 1px;
           height: 100%;
           background-color: #ccc;
        } */

        .timeline li:nth-child(odd)::after{
            content: '';
           position: absolute;
           top: 0;
           width: 1px;
           height: 100%;
           background-color: #000;
            right: 0;
            /* z-index: -1; */
        }

        .timeline li:nth-child::after{
            height: 50px;
        }

         .timeline li::before{
             content: '';
             position: absolute;
             width: 20px;
             height: 20px;
             border-radius: 20px;
             background-color: #000;
             z-index: 2;
           
             margin: auto;
         }

            .timeline li:nth-child(odd)::before{
            right: -10px;
        }
        
        .timeline li:nth-child(even)::before{
            left: -10px;   
        }
        
        .timeline h2{
            color: #333;
            font-family: 'Noto Sans TC', sans-serif,sans-serif;
            font-weight: 700;
        }
        .timeline p{
            color: #666;
            font-family: 'Noto Sans TC', sans-serif,sans-serif;
            font-weight: 700;
            
        }

        .timeline h2::after{
            content: '';
            position: absolute;
            height: 1px;
            width: 100px;
            background-color: #000;
            top: 0;
            bottom: 0;
            margin: auto;

        }


        .timeline li:nth-child(odd) h2::after {
            right: 0;
        }

        .timeline li:nth-child(even) h2::after {
            left: 0;
        }