img{
    border-radius: 50%;
}

.clearfix ul{
    display: flex;
    flex-direction: column;
    width: 300px;
    line-height: 50px;
    
}

 li {list-style-type:none;}


 .item{
     margin-top: 50px;
    margin-left: 40px;
 }


 @media (max-width: 576px) {
 
    .clearfix img{
        margin-left:40px;
    }

    .ul{
        margin-left:20px;
    }

    #w-100{
        visibility: visible;
    }

 }