

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}
.about-pic{
    display: flex;
    justify-content: center;
}
.about-text h3{
    text-align: left;
    font-size: 30px;
}

.about-text{
    padding-top: 20px;
}

.about-text p{
    font-size: 18px;
}



.title{
    padding-top: 20px;
    padding-bottom: 20px;
}
 
img{
    border-radius: 50%;
    border: 3px solid #000; 
    border-style: inset !important;
}

.clearfix ul{
    display: flex;
    flex-direction: column;
    width: 300px;
    line-height: 50px;
    
}

 li {list-style-type:none;}




 .item{
     margin-top: 50px;
    margin-left: 10px;
  
 }

 .item li i{
     margin-right: 6px;
 }

 .item li a{
     font-weight: bold;
     color: mediumaquamarine;
 }




.wrap footer h3{
    font-size: 20px;
    text-align: center;
    

}

.porg {
    line-height: 20px;
}
/* words */

.tab-header {
    display: flex;
}







/* footer */

#contact {
    background-color: rgb(248, 248, 248);
    padding: 40px 0px;
}

h2 {
    
    font-size: 32px;
    font-weight: bold;
    color: rgb(56, 56, 56);
    letter-spacing: 1px;
 
}

h2.title{
    width: 100%;
    text-align: center;
}

h2.title::after{
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: rgb(56, 56, 56);
    margin: 5px auto 5px;
    
}

.contact-logo a{
    color: rgb(56, 56, 56);
}

.contact-info li a{
    color: rgb(56, 56, 56);
}

.footer-content .contact-logo {
    text-align: center;
}

.contact-info li a{
    margin: 10px 0;
}




/* icons */
.footer-content .contact-link{
    display: flex;
    justify-content: center;
    text-align: center;
}

.contact-link  li i{
    margin:3px 7px;
    color: rgb(56, 56, 56);
}




/*手機尺寸 */
@media (max-width: 992px) {
    .about-text{
        margin-left: 30px;
    }

}
@media (max-width: 768px) {

.about-text{
    margin-left: 0px;
    
    }
}

 @media (max-width: 576px) {
 
  #contact .title {
    display: none;

  
}

 #h2 .title {
    display: none;
 }

   .design h1{
       margin-left: 5px;
   }

    
.clearfix img{
    margin-left: 40px;
  
}

    .clearfix ul{
        margin-left:30px;
    }

   

 }

