

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}
.about-pic{
    display: flex;
    justify-content: center;
}
.about-text h3{
    text-align: left;
    font-size: 30px;
}

.about-text{
    padding-top: 20px;
}

.about-text p{
    font-size: 18px;
}



.title{
    padding-top: 20px;
    padding-bottom: 20px;
}
 
img{
    border-radius: 50%;
    border: 3px solid #000; 
    border-style: inset !important;
}

.clearfix ul{
    display: flex;
    flex-direction: column;
    width: 300px;
    line-height: 50px;
    
}

 li {list-style-type:none;}




 .item{
     margin-top: 50px;
    margin-left: 10px;
  
 }

 .item li i{
     margin-right: 6px;
 }

 .item li a{
     font-weight: bold;
     color: mediumaquamarine;
 }




.wrapsnake footer h3{
    font-size: 20px;
    text-align: center;
    

}

.porg {
    line-height: 20px;
}
/* words */

.tab-header {
    display: flex;
}







/* footer */

#contact {
    background-color: rgb(248, 248, 248);
    padding: 40px 0px;
}

h2 {
    
    font-size: 32px;
    font-weight: bold;
    color: rgb(56, 56, 56);
    letter-spacing: 1px;
 
}

h2.title{
    width: 100%;
    text-align: center;
}

h2.title::after{
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: rgb(56, 56, 56);
    margin: 5px auto 5px;
    
}

.contact-logo a{
    color: rgb(56, 56, 56);
}

.contact-info li a{
    color: rgb(56, 56, 56);
}

.footer-content .contact-logo {
    text-align: center;
}

.contact-info li a{
    margin: 10px 0;
}



.container h1{
    color: 000;
}


/* icons */
.footer-content .contact-link{
    display: flex;
    justify-content: center;
    text-align: center;
}

.contact-link  li i{
    margin:3px 7px;
    color: rgb(56, 56, 56);
}

.section  h1{
    color: 000;
}



/*手機尺寸 */
@media (max-width: 992px) {
    .about-text{
        margin-left: 30px;
    }


    .collapseThree iframe{
        height: 800px;
        width: 600px;
    }

}
@media (max-width: 768px) {

.about-text{
    margin-left: 0px;
    
    }
    .collapseThree iframe{
        height: 600px;
        width: 400px;
    }
}

 @media (max-width: 576px) {
 

.collapseThree iframe{
        height: 400px;
        width: 300px;
    }


  #contact .title {
    display: none;

  
}

 #h2 .title {
    display: none;
 }

   .design h1{
       margin-left: 5px;
   }

    
.clearfix img{
    margin-left: 40px;
  
}

    .clearfix ul{
        margin-left:30px;
    }

   

 }



 /* 切版ＣＳＳ */

   
        
        .wrap{
            width: 100%;
            margin:auto;
            list-style: none;
            font-family: 'Noto Sans TC', sans-serif,sans-serif;
        }

        .wrap h1{
           margin-top: 100px;
            text-align: center;
            font-size: 50px;
            width: 900;
            color: #000;
            
        }

        .wraps h2{
            text-align: center;
        }

        /* .wrapsnake::after{
            content: '';
            display: block;
            top: 0;
            clear: both;
            width: 100%;
            height: 200px;
        } */

        .timeline{
            padding: 50px 0 200px;
       
        }
        .timeline::after{
        content: '';
        display: block;
        height: 0px;
        width: 100%;
        clear: both;
        }

        .timeline li{
            width: 50%;
            box-sizing: border-box;
            padding: 20px 0;
            position: relative;
            
        }

        .timeline li:nth-child(odd){
            float: left;
            padding-right: 100px;
        }

        .timeline li:nth-child(even){
            float: right;
            padding-left: 100px;
            transform: translateY(50%);
        }

     

        .timeline a{
            display: block;
            text-decoration: none;
            background-color: #fff;
            border: 5px solid #000;
            box-sizing: border-box;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 10px 3px 5px #888;
        }

        .timeline a:hover{
            background-color: #6fa5f6;
        }

        .timeline a:hover h2,
        .timeline a:hover p{
            color: #fff;
        }

          /* .timeline li::after{
           content: '';
           position: absolute;
           top: 0;
           width: 1px;
           height: 100%;
           background-color: #ccc;
        } */

        .timeline li:nth-child(odd)::after{
            content: '';
           position: absolute;
           top: 0;
           width: 1px;
           height: 100%;
           background-color: #000;
            right: 0;
            /* z-index: -1; */
        }

        .timeline li:nth-child::after{
            height: 50px;
        }

         .timeline li::before{
             content: '';
             position: absolute;
             width: 20px;
             height: 20px;
             border-radius: 20px;
             background-color: #000;
             z-index: 2;
           
             margin: auto;
         }

            .timeline li:nth-child(odd)::before{
            right: -10px;
        }
        
        .timeline li:nth-child(even)::before{
            left: -10px;   
        }
        
        .timeline h2{
            color: #333;
            font-family: 'Noto Sans TC', sans-serif,sans-serif;
            font-weight: 700;
        }
        .timeline p{
            color: #666;
            font-family: 'Noto Sans TC', sans-serif,sans-serif;
            font-weight: 700;
            
        }

        .timeline h2::after{
            content: '';
            position: absolute;
            height: 1px;
            width: 100px;
            background-color: #000;
            top: 0;
            bottom: 0;
            margin: auto;

        }


        .timeline li:nth-child(odd) h2::after {
            right: 0;
        }

        .timeline li:nth-child(even) h2::after {
            left: 0;
        }


/* 切版ＣＳＳ */





/* 貪食蛇ＣＳＳ */


.wrapsnake{
    
    width: 420px;
    margin: auto;
   
    display: flex;
    flex-direction: column;
    
   
    overflow:visible;
}

.wrapsnake h1{
    text-align: center;
}

.wrapsnake input{
    border-radius: 50%;
    border: 5px solid #000;
    background-color: #fff;
    font-weight: bold;
}
.wrapsnake input:hover{
    background-color: #6fa5f6;
}

.wrapsnake .container{
        display: flex;
        flex-direction: row;
        /* margin: 10px; */
        justify-content: center;
        padding-bottom: 20px;
    }


.wrapsnake .item{
    display: flex;
   
    justify-content: center;
    flex-direction: column;
    
    padding-bottom: 20px;
    
}
/* .wrapsnake .key,
.wrapsnake .item{
    margin: 10px;
} */


.wrapsnake .key{
    display: flex;
    margin:  auto;
    
}

.wrapsnake .key .left{
   margin-right: 20px  ;
    
}
.wrapsnake .key .right{
   margin-left: 20px  ;
    
}

.wrapsnake .run{
    color: turquoise;
    height: 200px;
    font-size: 30px;
    
    
}
/* .wrapsnake .run img{
    
    border-radius: 50%;
    padding: 50px;
} */

@media screen and (max-width: 600px){
    .wrapsnake{
       width: 100%;
       
    }

    

}

/* 貪食蛇ＣＳＳ */